@model Evaluaciones.Web.UI.Areas.Administracion.Models.ChangePassword

@using Evaluaciones.Helpers

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tray tray-center">
    <div class="">
        <div class="mw900 center-block center-children">

            <!-- Form Mis Datos -->
            <div class="admin-form theme-primary mw800 active" id="register1" role="tabpanel">
                <div class="panel panel-primary heading-border">
                    <div class="panel-heading">
                        <span class="panel-title">
                            <i class="fa fa-pencil-square"></i>Cambiar Contraseña
                        </span>
                    </div>
                    <!-- end .form-header section -->

                    @using (Html.BeginForm("ChangePassword", "User", new { area = "Administracion", ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.Raw(Html.CustomValidationSummary())

                        <div class="panel-body p25">

                            <div class="section row">
                                <div class="col-sm-6">
                                    @Html.LabelFor(x => x.Password, new { @for = "password", @class = "field-label" })
                                    @Html.PasswordFor(x => x.Password, new { @class = "gui-input", @id = "password", @placeholder = "Contraseña actual", @maxLength = "45" })
                                </div>
                            </div>

                            <div class="section row">
                                <div class="col-sm-6">
                                    @Html.LabelFor(x => x.Password1, new { @for = "password1", @class = "field-label" })
                                    @Html.PasswordFor(x => x.Password1, new { @class = "gui-input", @id = "password1", @placeholder = "Nueva contraseña", @maxLength = "45" })
                                </div>
                            </div>

                            <div class="section row">
                                <div class="col-sm-6">
                                    @Html.LabelFor(x => x.Password2, new { @for = "password2", @class = "field-label" })
                                    @Html.PasswordFor(x => x.Password2, new { @class = "form-control", @id = "password2", @placeholder = "Confirmación contraseña", @maxLength = "45" })
                                </div>
                            </div>

                        </div>

                        <div class="panel-footer pull-right">
                            @Html.ActionLink("Cancelar", "Index", "User", new { area = "Admin", @class = "button btn-dark" })
                            <button type="submit" class="button btn-primary">Guardar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>