@model Evaluaciones.Web.UI.Areas.BancoPregunta.Models.Pregunta

@{
    ViewBag.Title = "CrearPregunta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/jqueryUIcss1121")

<div id="form" class="admin-form">
    <form id="formPregunta" method="post">
        <div class="panel-body">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Banco de preguntas</span>
                </div>
                <div class="form-horizontal">
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div id="accordion">
                                <h3>Configuración</h3>
                                <div>
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.TipoEducacionCodigo, new { @for = "tipoEducacion", @class = "col-md-4 control-label" })
                                        <div class="col-md-8">
                                            <div class="bs-component">
                                                @Html.DropDownListFor(x => x.TipoEducacionCodigo, Evaluaciones.Educacion.TipoEducacion.TipoEducaciones, new { @id = "tipoEducacion", @class = "form-control" })
                                                <i class="arrow"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.GradoCodigo, new { @for = "grado", @class = "col-md-4 control-label" })
                                        <div class="col-md-8">
                                            <div class="bs-component">
                                                @Html.DropDownListFor(x => x.GradoCodigo, Model == null ? Evaluaciones.Educacion.Grado.DefaultItem : Evaluaciones.Educacion.Grado.Grados(Model.TipoEducacionCodigo), new { @id = "grado", @class = "form-control" })
                                                <i class="arrow"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.SectorId, new { @for = "sector", @class = "col-md-4 control-label" })
                                        <div class="col-md-8">
                                            <div class="bs-component">
                                                @Html.DropDownListFor(x => x.SectorId, Evaluaciones.Educacion.Sector.DefaultItem, new { @id = "sector", @class = "form-control" })
                                                <i class="arrow"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.DificultadCodigo, new { @for = "dificultad", @class = "col-md-4 control-label" })
                                        <div class="col-md-8">
                                            <div class="bs-component">
                                                @Html.DropDownListFor(x => x.DificultadCodigo, Evaluaciones.Evaluacion.Dificultad.Dificultades, new { @id = "dificultad", @class = "form-control" })
                                                <i class="arrow"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.TipoReactivoCodigo, new { @for = "tipoReactivo", @class = "col-md-4 control-label" })
                                        <div class="col-md-8">
                                            <div class="bs-component">
                                                @Html.DropDownListFor(x => x.TipoReactivoCodigo, Evaluaciones.Evaluacion.TipoReactivo.TiposReactivos, new { @id = "tipoReactivo", @class = "form-control" })
                                                <i class="arrow"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.TipoEvaluacionCodigo, new { @for = "tipoEvaluacion", @class = "col-md-4 control-label" })
                                        <div class="col-md-8">
                                            <div class="bs-component">
                                                @Html.DropDownListFor(x => x.TipoEvaluacionCodigo, Evaluaciones.Evaluacion.TipoEvaluacion.TiposEvaluaciones, new { @id = "tipoEvaluacion", @class = "form-control" })
                                                <i class="arrow"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.HabilidadCodigo, new { @for = "habilidad", @class = "col-md-4 control-label" })
                                        <div class="col-md-8">
                                            <div class="bs-component">
                                                @Html.DropDownListFor(x => x.HabilidadCodigo, Evaluaciones.Evaluacion.Habilidad.Habilidades, new { @id = "habilidad", @class = "form-control" })
                                                <i class="arrow"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <label class="option block">
                                            <input type="checkbox" id="privada" name="Privada" />
                                            <span class="checkbox"></span>Privada
                                        </label>
                                    </div>
                                </div>
                                <h3 id="baseCurricular">Bases curriculares</h3>
                                <div id="baseCurricular">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.BaseCurricular.UnidadId, new { @for = "unidadBaseCurrilar", @class = "col-md-4 control-label" })
                                        <div class="col-md-8">
                                            <div class="bs-component">
                                                @Html.DropDownListFor(x => x.BaseCurricular.UnidadId, Evaluaciones.Educacion.BaseCurricular.Unidad.DefaultItem, new { @id = "unidadBaseCurrilar", @class = "form-control" })
                                                <i class="arrow"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.BaseCurricular.EjeId, new { @for = "ejeBaseCurrilar", @class = "col-md-4 control-label" })
                                        <div class="col-md-8">
                                            <div class="bs-component">
                                                @Html.DropDownListFor(x => x.BaseCurricular.EjeId, Evaluaciones.Educacion.BaseCurricular.Eje.DefaultItem, new { @id = "ejeBaseCurrilar", @class = "form-control" })
                                                <i class="arrow"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <table class="table" id="objetivoGridView" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Objetivos de aprendizaje</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <h3 id="recursoCurricular">Recursos curriculares</h3>
                                <div id="recursoCurricular">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.RecursoCurricular.UnidadId, new { @for = "unidadRecursoCurricular", @class = "col-md-4 control-label" })
                                        <div class="col-md-8">
                                            <div class="bs-component">
                                                @Html.DropDownListFor(x => x.RecursoCurricular.UnidadId, Evaluaciones.Educacion.BaseCurricular.Unidad.DefaultItem, new { @id = "unidadRecursoCurricular", @class = "form-control" })
                                                <i class="arrow"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <table class="table" id="aprendizajeGridView" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Aprendizajes</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.RecursoCurricular.EjeId, new { @for = "ejeRecursoCurricular", @class = "col-md-4 control-label" })
                                        <div class="col-md-8">
                                            <div class="bs-component">
                                                @Html.DropDownListFor(x => x.RecursoCurricular.EjeId, Evaluaciones.Educacion.BaseCurricular.Eje.DefaultItem, new { @id = "ejeRecursoCurricular", @class = "form-control" })
                                                <i class="arrow"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <table class="table" id="contenidoGridView" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Contenidos</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <h3>Referencias</h3>
                                <div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <table class="table" id="referenciaGridView" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Código</th>
                                                        <th>Texto</th>
                                                        <th>Acción</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div class="panel">
                                    <div class="panel-body pn of-h">
                                        <textarea id="editor" class="summernote"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div id="preguntaAlternativa">
                                <div class="col-md-12">
                                    <div class="panel">
                                        <div class="panel-body pn of-h" id="summer-demo">
                                            <br />
                                            @Html.Partial("_PreguntaAlternativa", new Evaluaciones.Web.UI.Areas.BancoPregunta.Models.PreguntaAlernativa())
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="preguntaSeleccionMultiple">
                                <div class="col-md-12">
                                    <div class="panel">
                                        <div class="panel-body pn of-h" id="summer-demo">
                                            <br />
                                            @Html.Partial("_PreguntaSeleccionMultiple", new Evaluaciones.Web.UI.Areas.BancoPregunta.Models.PreguntaSeleccionMultiple())
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="preguntaVerdaderoFalso">
                                <div class="col-md-12">
                                    <div class="panel">
                                        <div class="panel-body pn of-h" id="summer-demo">
                                            <br />
                                            @Html.Partial("_PreguntaVerdaderoFalso", new Evaluaciones.Web.UI.Areas.BancoPregunta.Models.PreguntaVerdaderoFalso())
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right col-sm-7">
                        <button type="button" id="cancelOrder" class="button btn-dark">Cancelar</button>
                        <button type="submit" id="saveOrder" class="button btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="modal-form" class="popup-basic admin-form mfp-with-anim mfp-hide mw800">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">Referencias</span>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(x => x.Referencia.TipoEducacionCodigo, new { @for = "modalTipoEducacion", @class = "col-sm-6 field-label" })
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.Referencia.TipoEducacionCodigo, new { @class = "textBoxDisabled", @id = "modalTipoEducacion", @disabled = false })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(x => x.Referencia.GradoCodigo, new { @for = "modalGradoCodigo", @class = "col-sm-6 field-label" })
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.Referencia.GradoCodigo, new { @class = "textBoxDisabled", @id = "modalGradoCodigo", @disabled = false })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(x => x.Referencia.SectorId, new { @for = "modalSector", @class = "col-sm-6 field-label" })
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.Referencia.SectorId, new { @class = "textBoxDisabled", @id = "modalSector", @disabled = false })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(x => x.Referencia.Codigo, new { @for = "modalCodigo", @class = "col-sm-6 field-label", @disabled = false })
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.Referencia.Codigo, new { @class = "textBoxDisabled", @id = "modalCodigo", @disabled = false })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Referencia.Texto, new { @for = "referenciaTexto", @class = "field-label" })
            <label class="field textarea-grow">
                @Html.TextAreaFor(x => x.Referencia.Texto, new { @class = "gui-textarea", @id = "referenciaTexto", @rows = "100" })
            </label>
        </div>
    </div>
</div>

@Scripts.Render("~/js/bancoPregunta")