@model Evaluaciones.Web.UI.Areas.Administracion.Models.Empresa

@{
    ViewBag.Title = "Empresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="row">
        <div id="form" class="admin-form">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Administración de empresas</span>
                </div>
                <div class="form-horizontal">
                    <div class="panel-body">
                        <div class="section row">
                            <div class="col-md-6">
                                @Html.LabelFor(x => x.RazonSocial, new { @for = "searchName", @class = "field-label" })
                                <label class="field select">
                                    @Html.TextBoxFor(x => x.RazonSocial, new { @class = "gui-input", @id = "searchName", @placeholder = "Nombre", @maxLength = "60" })
                                </label>
                                <label for="FindType" class="field prepend-icon">
                                    <label class="radio-inline mr10">
                                        @Html.RadioButtonFor(x => x.FindType, Evaluaciones.FindType.Equals, new { @id = "findType" })
                                        Igual
                                    </label>
                                    <label class="radio-inline mr10">
                                        @Html.RadioButtonFor(x => x.FindType, Evaluaciones.FindType.Contains, new { @id = "findType" })
                                        Contiene
                                    </label>
                                    <label class="radio-inline mr10">
                                        @Html.RadioButtonFor(x => x.FindType, Evaluaciones.FindType.StartsWith, new { @id = "findType" })
                                        Inicia
                                    </label>
                                    <label class="radio-inline mr10">
                                        @Html.RadioButtonFor(x => x.FindType, Evaluaciones.FindType.EndsWith, new { @id = "findType" })
                                        Termina
                                    </label>
                                </label>
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(x => x.Rut, new { @for = "searchRut", @class = "field-label" })
                                <label class="field select">
                                    @Html.TextBoxFor(x => x.Rut, new { @class = "gui-input rut", @id = "searchRut", @placeholder = "R.U.T.", @maxLength = "11" })
                                </label>
                            </div>
                        </div>
                        <div class="pull-left col-md-3">
                            <a class="btn btn-success btn-xs" href="#" title="Agregar empresa" typebutton="Add"><i class="fa fa-plus"></i></a>
                        </div>
                        <div class="pull-right col-md-3">
                            <button type="button" id="cancel" class="button btn-dark">Cancelar</button>
                            <button id="search" class="button btn-primary" typeButton="Accept">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-visible" id="spy2">
            <div class="panel-heading">
                <div class="panel-title hidden-xs">
                    <span class="glyphicon glyphicon-tasks"></span>Buscar y Filtrar
                </div>
            </div>
            <div class="panel-body pn">
                <table class="table table-striped table-hover" id="gridView" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>R.U.T.</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-principal" class="popup-basic admin-form mfp-with-anim mfp-hide mw800">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">Información corporativa</span>
        </div>
        <form id="formModalEmpresa" method="post">
            <div class="panel-body">
                <div class="section row">
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Rut, new { @for = "rut", @class = "field-label" })
                        <label for="run" class="field prepend-icon">
                            @Html.TextBoxFor(x => x.Rut, new { @class = "gui-input rut", @id = "rut", @placeholder = "R.U.T.", @maxLength = "14" })
                            <label for="run" class="field-icon">
                                <i class="fa fa-user"></i>
                            </label>
                        </label>
                    </div>
                    <div class="col-md-4">
                        <span class="field-label">&nbsp;</span>
                        <button type="button" id="searchEnterprise" class="button btn-primary" typeButton="Accept">Buscar</button>
                    </div>
                </div>
                <div class="section row">
                    <div class="col-md-12">
                        @Html.LabelFor(x => x.RazonSocial, new { @for = "razonSocial", @class = "field-label" })
                        <label for="nombres" class="field prepend-icon">
                            @Html.TextBoxFor(x => x.RazonSocial, new { @class = "gui-input", @id = "razonSocial", @placeholder = "Razón social", @maxLength = "250" })
                            <label for="nombres" class="field-icon">
                                <i class="fa fa-user"></i>
                            </label>
                        </label>
                    </div>                    
                </div>
                <div class="section row">
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Email, new { @for = "email", @class = "field-label" })
                        <label for="email" class="field prepend-icon">
                            @Html.TextBoxFor(x => x.Email, new { @class = "gui-input", @id = "email", @placeholder = "Email", @maxLength = "70" })
                            <label for="email" class="field-icon">
                                <i class="fa fa-envelope"></i>
                            </label>
                        </label>
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.PaginaWeb, new { @for = "paginaWeb", @class = "field-label" })
                        <label for="email" class="field prepend-icon">
                            @Html.TextBoxFor(x => x.PaginaWeb, new { @class = "gui-input", @id = "paginaWeb", @placeholder = "Sitio WEB", @maxLength = "70" })
                            <label for="email" class="field-icon">
                                <i class="fa fa-laptop"></i>
                            </label>
                        </label>
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Telefono1, new { @for = "telefono1", @class = "field-label" })
                        <label for="telefono" class="field prepend-icon">
                            @Html.TextBoxFor(x => x.Telefono1, new { @class = "gui-input", @id = "telefono1", @placeholder = "Teléfono 1", @onlyNumbers = "true" })
                            <label for="telefono1" class="field-icon">
                                <i class="fa fa-phone-square"></i>
                            </label>
                        </label>
                    </div>
                </div>
                <div class="section row">
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Telefono2, new { @for = "telefono2", @class = "field-label" })
                        <label for="telefono" class="field prepend-icon">
                            @Html.TextBoxFor(x => x.Telefono2, new { @class = "gui-input", @id = "telefono2", @placeholder = "Teléfono 2", @onlyNumbers = "true" })
                            <label for="telefono2" class="field-icon">
                                <i class="fa fa-phone-square"></i>
                            </label>
                        </label>
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Celular, new { @for = "celular", @class = "field-label" })
                        <label for="celular" class="field prepend-icon">
                            @Html.TextBoxFor(x => x.Celular, new { @class = "gui-input", @id = "celular", @placeholder = "Celular", @onlyNumbers = "true" })
                            <label for="celular" class="field-icon">
                                <i class="fa fa-phone-square"></i>
                            </label>
                        </label>
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Fax, new { @for = "fax", @class = "field-label" })
                        <label for="celular" class="field prepend-icon">
                            @Html.TextBoxFor(x => x.Fax, new { @class = "gui-input", @id = "fax", @placeholder = "Fax", @onlyNumbers = "true" })
                            <label for="celular" class="field-icon">
                                <i class="fa fa-phone-square"></i>
                            </label>
                        </label>
                    </div>
                </div>
                <div class="section row">
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.RegionCodigo, new { @for = "region", @class = "field-label" })
                        <label class="field select">
                            @Html.DropDownListFor(x => x.RegionCodigo, Evaluaciones.Region.Regiones, new { @class = "", @id = "region" })
                            <i class="arrow"></i>
                        </label>
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.CiudadCodigo, new { @for = "ciudad", @class = "field-label" })
                        <label class="field select">
                            @Html.DropDownListFor(x => x.CiudadCodigo, Evaluaciones.Ciudad.DefaultItem, new { @id = "ciudad" })
                            <i class="arrow"></i>
                        </label>
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.ComunaCodigo, new { @for = "comuna", @class = "field-label" })
                        <label class="field select">
                            @Html.DropDownListFor(x => x.ComunaCodigo, Evaluaciones.Ciudad.DefaultItem, new { @id = "comuna" })
                            <i class="arrow"></i>
                        </label>
                    </div>
                </div>
                <div class="section row">
                    <div class="col-md-12">
                        @Html.LabelFor(x => x.Direccion, new { @for = "direccion", @class = "field-label" })
                        <label class="field textarea-grow">
                            @Html.TextAreaFor(x => x.Direccion, new { @class = "gui-textarea", @id = "direccion", @placeholder = "" })
                        </label>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" id="cancel" class="button btn-dark" typeButton="Cancel">Cancelar</button>
                <button type="submit" id="save" class="button btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>

@Html.HiddenFor(x => x.Id, new { @id = "empresaId" })

@Scripts.Render("~/js/empresas")