@model Evaluaciones.Web.UI.Areas.Administracion.Models.MenuItem

@using Evaluaciones.Helpers
@using Evaluaciones.Web.UI.Helpers

@{
    ViewBag.Title = "ItemsMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/nestable")

<div id="form" class="admin-form">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">Administración de ítems de menú</span>
        </div>
        <div class="form-horizontal">
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(x => x.AplicacionId, new { @for = "aplicacion", @class = "col-md-4 control-label" })
                    <div class="col-md-3">
                        <div class="bs-component">
                            @Html.DropDownListFor(x => x.AplicacionId, Evaluaciones.Membresia.Aplicacion.Aplicaciones, new { @id = "aplicacion", @class = "form-control" })
                            <i class="arrow"></i>
                        </div>
                    </div>
                </div>
                <div class="pull-right col-sm-7">
                    <button type="button" id="cancelOrder" class="button btn-dark">Cancelar</button>
                    <button id="saveOrder" class="button btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt5">
        <div class="col-md-6 col-md-offset-3">
            <span id="menuItems" />
        </div>
    </div>
</div>

<div id="modal-form" class="popup-basic admin-form mfp-with-anim mfp-hide mw800">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">Administración de Ítems de Menú</span>
        </div>
        <form id="formModal" method="post">

            @Html.AntiForgeryToken()

            <div class="panel-body">
                <div class="col-md-6">
                    <div class="section row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(x => x.NombreAplicacion, new { @for = "mombreAplicacion", @class = "field-label" })
                                <label for="email" class="field prepend-icon">
                                    @Html.TextBoxFor(x => x.NombreAplicacion, new { @class = "textBoxDisabled", @id = "nombreAplicacion", @disabled = false })
                                    <label for="mombreAplicacion" class="field-icon">
                                        <i class="fa fa-asterisk"></i>
                                    </label>
                                </label>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Nombre, new { @for = "nombre", @class = "field-label" })
                                <label for="fechaNacimiento" class="field prepend-icon">
                                    @Html.TextBoxFor(x => x.Nombre, new { @class = "gui-input", @id = "nombre", @placeholder = "Nombre", @maxLength = "50" })
                                    <label class="field-icon">
                                        <i class="fa fa-bullseye"></i>
                                    </label>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(x => x.Url, new { @for = "url", @class = "field-label" })
                                <label for="fechaNacimiento" class="field prepend-icon">
                                    @Html.TextBoxFor(x => x.Url, new { @class = "textBoxDisabled", @id = "url", @disabled = false })
                                    <label class="field-icon">
                                        <i class="fa fa-code"></i>
                                    </label>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(x => x.Informacion, new { @for = "informacion", @class = "field-label" })
                                <label for="fechaNacimiento" class="field prepend-icon">
                                    @Html.TextAreaFor(x => x.Informacion, new { @class = "gui-input", @id = "informacion", @placeholder = "Información" })
                                    <label class="field-icon">
                                        <i class="fa fa-info"></i>
                                    </label>
                                </label>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Icono, new { @for = "icono", @class = "field-label" })
                                <label for="fechaNacimiento" class="field prepend-icon">
                                    @Html.TextBoxFor(x => x.Icono, new { @class = "gui-input", @id = "icono", @placeholder = "Ícono", @maxLength = "20" })
                                    <label class="field-icon">
                                        <i class="fa fa-heart"></i>
                                    </label>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="option-group field section">
                                <label class="option block mt15">
                                    <input type="checkbox" id="visible" name="Visible" />
                                    <span class="checkbox"></span>Visible
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="tree" class="scrollDivMenu">
                        @Html.TreeViewMenu("menuMethods")
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" id="cancel" class="button btn-dark">Cancelar</button>
                <button type="submit" id="save" class="button btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>

@Html.Hidden("menuJson")
@Html.Hidden("parentId", new { @value = this.ViewBag.ParentId })
@Html.Hidden("id", new { @value = this.ViewBag.ParentId })

@Scripts.Render("~/Content/jqueryNestable")
@Styles.Render("~/Content/fancytree")
@Scripts.Render("~/Content/jqueryFancyTree")
@Scripts.Render("~/js/menuItem")